<%- include("partial/cats.ejs") %>
<body>
    <h1> All The Cats</h1>
    <ul>
        <% for(let cat of cats) { %>
            <li><%= cat.toUpperCase() %></li>
            <% }%>
    </ul>
</body>
</html>