<%- include("partials/head.ejs") %>
<body>
    <%- include("partials/navbar.ejs") %>
    <h1>The Home Page <%= "Hello World".toUpperCase()%></h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt, perferendis?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates voluptatem quos recusandae laudantium
        provident, vel corrupti vero consequuntur repudiandae aspernatur est similique, amet inventore explicabo.
        Provident voluptatem minima error voluptatum!</p>

</body>

<%- include("partials/footer.ejs") %>